:root {
    --page-purple:  #CCC1FF;
    --page-white: #FFFFFF;
    --page-background: #1F2937;
    --page-fill: #273549;
    
}

@media (min-width: 640px){

 
 }
 
 @media (min-width: 768px){
 

 
 }
 
 @media (min-width: 1024px){
 

 
 }
 
 @media (min-width: 1200px){
 
 }

